[submodule "aegis-proto"]
	path = aegis-proto
	url = https://github.com/100monkeys-ai/aegis-proto.git
[submodule "embedding-service/aegis-proto"]
	path = embedding-service/aegis-proto
	url = https://github.com/100monkeys-ai/aegis-proto.git
